.toggle-label[data-v-e58e966c]{cursor:pointer;color:var(--cf-text-secondary);align-items:center;gap:6px;font-size:13px;display:flex}.toggle-label input[data-v-e58e966c]{accent-color:var(--cf-accent)}
